.card{
  width: 540px;
  margin-right: 100px;
  margin-bottom: 100px;
  }

  .card__title{
    color:#000000;
    margin-top: 0;
    margin-bottom: 32px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
  }

  .card__list{
  font-family: "Noto Serif", Times, serif;
  font-size: 16px;
  line-height: 20px;
  padding-left: 0;
  margin: 0;
  }

  .card__list-item{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 16px;
  gap: 12px;
  }

  .card__list-item:last-of-type{
    margin-bottom: 0;

  }