.form__fieldset{
  width: 385px;
  border-style: none;
  padding: 0;

}

.form__label{
  display: block;
  margin: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input{
  border-radius: 4px;
  max-width: 385px;
  height: 60px;
  width: 385px;
  margin: 8px auto 32px;
  font-family: Inter;
  font-size: 20px;
  line-height: 30px;
  border-color: #838383;
  border: 1px solid;
  padding: 10px;
  box-sizing: border-box;
}

.form__button{
  border-radius: 4px;
  height: 60px;
  width: 385px;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #FFFFFF;
  border: none;
  margin-top: 32px;
  margin-bottom: 32px;
}

.form__button:hover{
  opacity: 0.7;
  transition: opacity;
}

.form__label{
  display: flex;
  justify-content:left;
}

.form__checkbox{
  height: 20px;
  width: 20px;
}
.form__label_type_checkbox{
 border-radius: 2px;
 gap: 12px;
 display: flex;
 justify-content: center;
}