.nav{
  display: flex;
  justify-content: space-between;
}

.nav__logo{
  position:relative;
  margin: 30px 30px 0;
  height: 142px;
  width: 125px;
  }

  .nav__links{
    display: flex;
    column-gap: 20px;
    list-style-type: none;
    margin: 30px 80px 0;
    padding: 0;

  }

  .nav__link{
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
  }