.reservation{
  display:flex;
  flex-direction:column;
  background-color: #D9E7FF;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 120px;
}

.reservation__title{
  color:#000000;
  margin: 100px auto 0;
  font-family: Inter;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form{
  margin: 80px auto 120px;
}
